
@font-face {
    font-family: 'Eulyoo1945';
    src: url('./fonts/Eulyoo1945-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eulyoo1945';
    src: url('/fonts/Eulyoo1945-SemiBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
header {
      background-color: transparent;
      position: fixed;
      top: 0;
      width: 100%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
   nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }
   nav ul li {
      margin: 0 15px;
    }
   nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: bold;
      padding: 15px 0;
      display: block;
    }
   nav ul li a:hover {
      color: tran;
      transition: color 0.3s;
    }
   
    
body {
      font-family: Eulyoo1945;
      text-align: center;
      background-image: url('./img/2.jpg');
	  background-repeat: no-repeat;
    }
   h1 {
      color: #FFFFFF;
      margin-top: 190px;
    }
   h2 {
      color: #FFFFFF;
    }
